#
# Windows 95 ignore list
#

.task/
.build/
node_modules/
out/

src/images/
images_*/
dist/
.vs/

.parcel-cache/
.cache/

package-lock.json
# yarn.lock

parcel-trace-*.json

.yarn/
.pnp.cjs
.pnp.loader.mjs

.DS_Store

*.code-workspace
*.pfx
*.DotSettings.user

.env*
.flaskenv*
!.env.project
!.env.vault

/*.img
/*.bin
/pnpm-lock.yaml

*.tgz

.node-version
