#
# Windows 95 ignore list
#

.build/
node_modules/
out/

src/images/
images_*/
dist/
.vs/

.yarn/
yarn.lock

.DS_Store

*.code-workspace
*.pfx
*.DotSettings.user

.env*
.flaskenv*
!.env.project
!.env.vault

/*.img
/*.bin
