#
# Windows 95 ignore list
#

.task/
.build/
node_modules/
out/

src/images/
images_*/
dist/
.vs/

.parcel-cache/
.cache/

.yarn/
yarn.lock
.pnp.cjs
.pnp.loader.mjs

.DS_Store

*.code-workspace
*.pfx
*.DotSettings.user

.env*
.flaskenv*
!.env.project
!.env.vault

/*.img
/*.bin
/pnpm-lock.yaml
